body {
  margin: 0 auto;
  font-size: 14px/18px italic;
}

a, a:hover,
a:visited {
  text-decoration: none;
  color: #fff;
}

.wrap {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  text-align: center;
}

header {
  width: 100%;
  min-height: 750px;
  background: url("../img/header.jpg") center no-repeat;
  background-size: 100% 100%;
  padding-bottom: 40px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-bottom: 1px solid #66697e;
}

.navbar img {
  flex-grow: 1;
}

.navbar li {
  display: inline-block;
  list-style-type: none;
  text-transform: uppercase;
  padding-left: 50px;
  flex-grow: 1;
}

.navbar li a {
  font-size: .8rem;
  font-weight: bold;
}

.navbar li a:hover,
.navbar li a:active {
  color: #66697e;
}

.main {
  margin: 0 auto;
}

.main h1 {
  font-size: 3.8rem;
  line-height: 4.5rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 100px 160px 0;
  text-transform: uppercase;
}

.main p {
  padding: 0 100px 80px;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.6rem;
  text-align: center;
  color: #fff;
}

@media (max-width: 630px) {
  .main h1 {
    font-size: 2rem;
    line-height: 2rem;
    padding: 100px 0;
  }
}

@media (max-width: 830px) and (min-width: 631px) {
  .main h1 {
    font-size: 3rem;
    line-height: 3.2rem;
    padding: 100px 0;
  }
}

.button {
  margin: 1% 0;
  text-align: center;
}

.button a {
  padding: 1% 3%;
  border: 2px solid #e84545;
  border-radius: 2px;
  background-color: transparent;
}

.button a:hover {
  background-color: #e84545;
}

.features {
  width: 100%;
  padding: 4% 0;
}

.items {
  padding: 2% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: stretch;
}

.items .item {
  width: 33.33%;
  text-align: center;
  overflow: hidden;
  flex-grow: 1;
  vertical-align: middle;
  flex-basis: 300px;
  padding: 5% 2%;
}

.items .item p {
  font-size: .9rem;
  line-height: 1.4rem;
}

.items .item h3 {
  padding-top: 10%;
  text-transform: uppercase;
}

.work {
  width: 100%;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: stretch;
}

.photos .photo {
  width: 20%;
  self-align: center;
  text-align: center;
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 350px;
  padding: 0 2px;
}

.photos .photo img {
  height: 300px;
  width: 400px;
}

footer {
  width: 100%;
  min-height: 250px;
  background-color: #3a3e64;
}

.infos {
  width: 23%;
  margin: 5% 0;
  flex-grow: 1;
  flex-basis: 300px;
  color: #fff;
  text-align: center;
}

.infos p {
  padding: 0 20%;
  color: #66697e;
  font-size: .9rem;
  line-height: 1.4rem;
}

.infos h3 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: normal;
}

.social a {
  display: inline-block;
  height: 35px;
  width: 35px;
  background: url(../img/sprite_icon.png);
  background-repeat: no-repeat;
}

.social a:hover {
  border-radius: 50%;
  opacity: .3;
}

.social a.s-fb {
  background-position: 0 0;
}

.social a.s-tw {
  background-position: -43px 0;
}

.social a.s-in {
  background-position: -130px 0;
}

.copyright {
  width: 100%;
  min-height: 90px;
  background: #313454;
  vertical-align: middle;
  text-align: center;
}

.copyright p {
  margin: 0;
  padding: 20px 0;
  color: #66697e;
}

.copyright em {
  color: #fff;
}
